## Compulsory Task 

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [107]:
# Load up store_income_data.csv

import pandas as pd
import numpy as np

df = pd.read_csv('store_income_data_task.csv', index_col = 0)

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [108]:
# Looking at the number of unique values in the country column.
unique_countries_count = df["country"].nunique()
print(f"There are {unique_countries_count} unique countries")

# Converting the column into lowercase.
df["country"] = df["country"].str.lower()

# Removing any whitespace.
df["country"] = df["country"].str.strip()

There are 76 unique countries

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [109]:
# Removing specified characters and converting to lowercase
df["country"] = df["country"].str.replace(r'[./\\]', '').str.lower()

# Mapping variations to standardized country names
country_mapping = {
    'south africa': 'South Africa',
    'SA': 'South Africa',
    'S Africa' : 'South Africa',
    'S. AfricaSouth Africa' : 'South Africa',
    'S. AfricaSouth Africa' : 'South Africa',
    'united kingdom': 'United Kingdom',
    'britian' : 'United Kingdom',
    'uk' : 'United Kingdom',
    'u k' : 'United Kingdom',
    'england' : 'United Kingdom',
    'UNITED STATES OF AMERICA' : 'United States',
    'united states': 'United States',
    'america' : 'United States',
    "united states of america" : 'United States',
    'usa' : 'United States'
}

# Applying the mapping to the "country" column
df["country"] = df["country"].str.lower().map(country_mapping)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [111]:
import pandas as pd
import datetime

# Create a copy of the DataFrame to avoid modifying the original data
df_copy = df.copy()

# Convert the 'date_measured' column to datetime format
df_copy['date_measured'] = pd.to_datetime(df['date_measured'], errors='coerce')

# Calculate the difference in days for each date from the current date
current_date = datetime.date.today()
df_copy['days_ago'] = (current_date - df_copy['date_measured'].dt.date)

# Print the DataFrame to see the new column
print(df_copy).head()

                                             store_name           store_email  \
id
1                            Cullen/Frost Bankers, Inc.                   NaN
2                                   Nordson Corporation                   NaN
3                                 Stag Industrial, Inc.                   NaN
4                                   FIRST REPUBLIC BANK    ecanadine3@fc2.com
5                           Mercantile Bank Corporation                   NaN
...                                                 ...                   ...
996                         Columbia Sportswear Company  cschooleyrn@sohu.com
997   WisdomTree Interest Rate Hedged High Yield Bon...                   NaN
998          Tortoise Energy Infrastructure Corporation   cbeardshallrp@ow.ly
999                                   Qwest Corporation                   NaN
1000                                    SLM Corporation                   NaN

       department        income date_measured         country  \
id
1        Clothing  $54438554.24    2006-04-02             NaN
2           Tools  $41744177.01    2006-04-01             NaN
3          Beauty  $36152340.34    2003-12-09   United States
4      Automotive   $8928350.04    2006-08-05             NaN
5            Baby  $33552742.32           NaT  United Kingdom
...           ...           ...           ...             ...
996    Automotive  $52593924.99    2005-07-10             NaN
997   Electronics  $60473676.46           NaT   United States
998        Health   $1697293.64           NaT   United States
999        Beauty  $30091863.73           NaT  United Kingdom
1000         Kids  $66106336.48    2011-01-12  United Kingdom

                days_ago
id
1     6550 days, 0:00:00
2     6551 days, 0:00:00
3     7395 days, 0:00:00
4     6425 days, 0:00:00
5                    NaN
...                  ...
996   6816 days, 0:00:00
997                  NaN
998                  NaN
999                  NaN
1000  4804 days, 0:00:00

[1000 rows x 7 columns]

AttributeError: 'NoneType' object has no attribute 'head'